<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
      <div class="footer-phone">

      <img src="assets/img/logofooter.png" alt="Logo Sphère Dentaire" class="footer-logo" />

      <div class="footer-info">
        <p>
          <img src="assets/img/mapsicon.png" alt="Adresse" class="icon" />
          4 Avenue du Général Leclerc,<br />
          78340 Les Clayes-sous-Bois
        </p>
        <p>
          <img src="assets/img/phoneicon.png" alt="Téléphone" class="icon" />
          01 30 45 59 94
        </p>
       </div>
       </div>
      </div>

      <p class="footer-description">
        Le cabinet Sphère Dentaire a une pratique sérieuse et réfléchie pour vos soins dentaires dans un lieu apaisant et rassurant pour votre plus grand confort.
      </p>
    </div>

    <div class="footer-right">
      <h3>Horaires d’ouverture</h3>
      <ul class="schedule">
        <li><span>Lundi</span> 09h00 - 13h00, 14h00 – 19h00</li>
        <li><span>Mardi</span> 09h00 - 13h00, 14h00 – 19h00</li>
        <li><span>Mercredi</span> 09h00 - 13h00, 14h00 – 19h00</li>
        <li><span>Jeudi</span> 09h00 - 13h00, 14h00 – 19h00</li>
        <li><span>Vendredi</span> 09h00 - 13h00, 14h00 – 19h00</li>
        <li><span>Samedi</span> 09h00 - 13h00, 14h00 – 19h00</li>
        <li><span>Dimanche</span> - Fermé</li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <hr />
    <p>Copyright © 2025 – Cabinet Dentaire Sphère Dentaire</p>
  </div>
</footer>
