<header class="header">
  <div class="container">
    <div class="logo">
      <img src="/img/logo.png" alt="Sphère Dentaire">
    </div>
    <nav class="nav">
<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
      <a routerLink="/soins" routerLinkActive="active">Les soins</a>
      <a routerLink="/equipe" routerLinkActive="active">L’équipe</a>
      <a routerLink="/galerie" routerLinkActive="active">Galerie</a>
      <a routerLink="/blog" routerLinkActive="active">Blog</a>
    </nav>
    <div class="right-buttons">
    <a class="btn-rdv" href="https://www.doctolib.fr/cabinet-dentaire/les-clayes-sous-bois/cabinet-sphere-dentaire/booking/motives?specialityId=1&telehealth=false&placeId=practice-654830&bookingFunnelSource=profile" target="_blank" rel="noopener">
  PRENDRE RDV
</a>
      <img src="/img/lang.png" alt="langue" class="lang-icon" />
    </div>
  </div>
</header>
